<script setup lang="ts">
import type { Training } from '../schemas/training.ts'
import TrainingCard from './TrainingCard.vue'
import TrainingLogo from './TrainingLogo.vue'
import TrainingLines from './TrainingLines.vue'

type Props = { training: Training }
defineProps<Props>()
</script>

<template>
  <div class="flex items-center h-80 w-full">
    <TrainingCard :training="training" />

    <TrainingLines />

    <TrainingLogo :training="training" :alignment="'justify-start'" />
  </div>
</template>
