@tailwind base;
@tailwind components;
@tailwind utilities;

/**
* themes
*/

@layer base {
  :root {
    --light: 181, 190, 212;
    --dark: 46, 46, 52;
    --highlight: #727929;
    --param: #9e530d;
    --paramWithOpacity: 158, 83, 13;
    --lines: 114, 121, 41;
  }
  .fall {
    --light: 181, 190, 212;
    --dark: 46, 46, 52;
    --highlight: #727929;
    --param: #9e530d;
    --paramWithOpacity: 158, 83, 13;
    --lines: 114, 121, 41;
    --bg-photo: url('fallMC.jpg');
  }
  .winter {
    --light: 243, 245, 244;
    --dark: 34, 52, 92;
    --highlight: #e0a5a6;
    --param: #86a5d4;
    --paramWithOpacity: 134, 165, 212;
    --lines: 224, 165, 166;
    --bg-photo: url('winterPyr.jpg');
  }
  .spring {
    --light: 199, 199, 199;
    --dark: 24, 38, 45;
    --highlight: #c89700;
    --param: #6d843f;
    --paramWithOpacity: 109, 132, 63;
    --lines: 200, 151, 0;
    --bg-photo: url('springPilat.jpg');
  }
  .summer {
    --light: 207, 212, 231;
    --dark: 4, 3, 1;
    --highlight: #6e843c;
    --param: #b7667a;
    --paramWithOpacity: 183, 102, 122;
    --bg-photo: url('summerAlp.jpg');
  }
}

/**
* fonts
*/

@font-face {
  font-family: 'sora-bold';
  src: url('fonts/sora-bold.ttf') format('truetype');
  font-display: swap;
}
.txt-bold {
  font-weight: 700;
  font-family: 'sora-bold', sans-serif, SansSerif, Arial;
}

@font-face {
  font-family: 'sora-regular';
  src: url('fonts/sora-regular.ttf') format('truetype');
  font-display: swap;
}
.txt-regular {
  font-weight: 300;
  font-family: 'sora-regular', sans-serif, SansSerif, Arial;
}

@font-face {
  font-family: 'sora-light';
  src: url('fonts/sora-light.ttf') format('truetype');
  font-display: swap;
}
.txt-light {
  font-weight: 200;
  font-family: 'sora-thin', sans-serif, SansSerif, Arial;
}

@font-face {
  font-family: 'sora-thin';
  src: url('fonts/sora-thin.ttf') format('truetype');
  font-display: swap;
}
.txt-thin {
  font-weight: 100;
  font-family: 'sora-thin', sans-serif, SansSerif, Arial;
}

/**
* Animations
*/

/**
* Print
*/
body {
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
}

@media print {
  @page {
    margin: 8mm 8mm 0 8mm;
    size: A4 portrait;
  }
  body {
    margin: 0;
    font-size: 12pt;
    line-height: 1.5;
  }
  html,
  body {
    height: 99%;
    overflow: hidden;
  }
}
