<script setup lang="ts"></script>

<template>
  <svg width="30" height="26" viewBox="0 0 30 26" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M15.2033 0C14.2983 1.20952 13.523 2.32165 13.1803 3.37104C12.8375 4.42043 12.4803 5.26436 12.3094 6.03276C12.1386 6.80117 12.0664 8.71971 12.0664 8.71971C12.0664 8.71971 12.1193 8.87379 12.5593 8.52747C12.9991 8.18111 13.1733 7.9722 13.6751 7.80211C14.0281 7.68245 14.2537 7.93076 14.593 7.87584C15.2196 7.7744 15.5271 7.65897 15.5271 7.65897C15.5271 7.65897 15.7275 7.61449 15.7328 7.59922C16.0964 6.5519 15.1675 4.83289 15.0818 4.19355C15.0017 3.59474 14.9189 2.70127 14.9015 1.82108C14.8826 0.906545 15.2033 0 15.2033 0Z"
        fill="#6e843c"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M18.7312 6.35823C18.3179 6.85714 18.5006 6.81046 17.9078 7.05801C17.3148 7.30557 16.8908 7.40132 16.5856 7.46869C16.2806 7.53608 15.9145 7.56083 15.4123 7.85921C14.9101 8.15756 14.974 8.07382 14.4924 8.02608C14.0108 7.97834 13.9221 7.84871 13.5855 8.01815C13.2492 8.1877 13.086 8.36334 12.8662 8.62407C12.6462 8.88482 12.5762 9.1586 12.2751 9.05326C11.9739 8.94792 12.2676 8.99103 11.635 8.87364C11.0018 8.75625 10.7624 8.67643 10.105 8.75198C9.44767 8.82754 8.0756 9.56621 7.96856 9.56621C7.8616 9.56621 8.22032 9.94468 8.29175 10.4735C8.36318 11.0024 8.16095 11.6827 8.16095 12.3086C8.16095 12.9344 8.35221 13.2576 8.10957 13.5106C7.86692 13.7637 7.52957 13.7774 7.52957 14.3058C7.52957 14.8342 7.43585 15.1726 7.66602 15.6013C7.89619 16.0299 8.24504 16.1781 7.9166 16.4537C7.58816 16.7293 7.32476 16.8936 7.10067 17.6419C6.87654 18.3903 6.87656 18.5148 6.87656 19.2194C6.87656 19.924 6.84253 20.6336 6.84253 20.6336C6.84253 20.6336 6.46459 20.7042 6.88337 20.567C7.30229 20.4298 7.18573 20.2967 7.69359 20.4297C8.20159 20.5628 8.39141 20.7697 9.03011 21.1321C9.66878 21.4946 9.71397 21.7667 10.1941 21.7667C10.6742 21.7667 10.5342 21.5051 10.9205 21.9789C11.3068 22.4528 11.1442 22.2536 11.4711 22.4779C11.798 22.7023 11.2765 22.6613 12.0813 22.7384C12.8861 22.8155 13.0343 22.9139 13.2701 22.7911C13.5059 22.6683 13.6401 22.8221 13.9718 23.2484C14.3032 23.6748 14.3055 23.5973 14.7371 23.9221C15.1686 24.2469 14.8557 24.0256 15.7001 24.4153C16.5446 24.805 16.7178 24.7902 16.9599 24.8525C17.2018 24.9148 16.9202 24.6754 17.2018 24.3426C17.4838 24.0098 17.7983 23.6508 18.0296 23.4194C18.2609 23.1881 18.4689 23.1143 18.7736 22.7375C19.0783 22.3607 19.0749 22.4896 19.3319 21.9932C19.5889 21.4968 19.5515 21.6046 20.0267 21.4531C20.502 21.3017 20.8061 21.0918 21.0175 20.818C21.2288 20.5443 21.2873 20.8437 21.3856 20.1173C21.4839 19.3908 21.3474 19.2076 21.7518 19.0743C22.1562 18.941 21.9181 19.1452 22.6571 18.76C23.396 18.3747 23.5981 18.2825 24.025 17.878C24.4519 17.4734 24.5656 17.2991 24.7801 16.9474C24.9944 16.5957 24.935 16.7683 24.6383 16.5705C24.3416 16.3727 24.3783 16.2233 23.8987 15.6037C23.4191 14.9841 23.2987 14.5735 23.1382 14.1433C22.9776 13.7131 22.8154 13.1673 22.3934 12.928C21.9714 12.6887 22.0589 13.1608 22.4085 12.5724C22.7593 11.9839 22.2082 11.5193 21.7577 11.1014C21.3073 10.6836 20.8441 11.008 20.738 10.8242C20.6318 10.6404 20.8393 10.7974 20.6809 10.0094C20.5226 9.22153 20.4122 8.7198 20.0454 8.08245C19.6788 7.44511 18.7312 6.35823 18.7312 6.35823Z"
        fill="#2A2373"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M22.7067 12.5646C24.1489 12.3426 24.0886 12.3975 24.9824 12.4681C25.8762 12.5387 25.7158 12.3717 26.6202 12.5869C27.5244 12.8022 27.6531 12.8298 28.1111 12.9628C28.5691 13.0958 30.0336 13.7151 29.9996 13.7817C29.9655 13.8484 29.921 13.8249 29.1475 13.8766C28.3738 13.9283 28.5201 13.9061 27.8375 14.1051C27.155 14.3041 27.1408 14.2738 26.6194 14.4815C26.0981 14.6892 25.2203 14.8432 24.942 15.0818C24.6639 15.3205 24.3795 15.7782 24.1693 15.5205C23.9591 15.2627 23.868 15.4581 23.5747 14.8264C23.2814 14.1946 23.1907 13.784 22.9556 13.3333C22.7205 12.8826 22.7067 12.5646 22.7067 12.5646Z"
        fill="#6e843c"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M21.7159 20.7392C22.0969 21.6476 22.2493 22.0309 22.509 22.714C22.7687 23.3972 22.8181 23.6036 22.9659 24.0808C23.1137 24.5581 23.156 24.8173 23.156 25.2551C23.156 25.6929 22.8514 24.859 22.5812 24.5554C22.3113 24.2519 21.9036 24.0142 21.4095 23.635C20.9155 23.2558 20.4382 23.1206 20.1039 22.7189C19.7698 22.3171 19.6712 21.899 19.6712 21.899C19.6712 21.899 19.3465 22.1636 19.7188 21.9088C20.0915 21.6541 20.5325 21.5685 20.8132 21.5188C21.0941 21.4692 21.2815 21.4155 21.4003 21.0533C21.5194 20.6911 21.7159 20.7392 21.7159 20.7392Z"
        fill="#6e843c"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M0 17.8084C0.434759 17.8201 0.369655 17.8401 0.808836 17.7728C1.24802 17.7055 1.61037 17.638 2.09536 17.4796C2.58035 17.3213 3.18194 16.7818 3.75242 16.5051C4.3229 16.2285 4.51368 16.2109 4.96178 15.8582C5.40988 15.5055 5.30722 15.6011 5.79104 15.3695C6.27485 15.1379 6.78406 14.8391 7.02081 14.7904C7.25741 14.7417 7.33183 14.7008 7.33183 15.0258C7.33183 15.3507 7.18519 15.3289 7.40554 15.6954C7.62588 16.0619 7.86154 15.9458 7.62059 16.3127C7.37983 16.6795 7.43654 16.8248 7.18218 17.201C6.92781 17.5772 6.69948 17.9148 6.56671 18.174C6.43405 18.4331 6.55162 18.495 6.0847 18.559C5.61705 18.6231 5.34409 18.5987 4.89304 18.5987C4.44199 18.5987 3.96854 18.5666 3.52203 18.5666C3.07551 18.5666 3.05797 18.6759 2.44179 18.5635C1.82565 18.4509 1.10659 18.3837 0.886807 18.2674C0.666839 18.1512 0 17.8084 0 17.8084Z"
        fill="#6e843c"
      />
      <path
        d="M14.7543 15.2239C15.0172 15.2239 15.2302 15.0106 15.2302 14.7475C15.2302 14.4845 15.0172 14.2712 14.7543 14.2712C14.4914 14.2712 14.2783 14.4845 14.2783 14.7475C14.2783 15.0106 14.4914 15.2239 14.7543 15.2239Z"
        fill="#c89700"
      />
      <path
        d="M14.8622 16.4557C15.1251 16.4557 15.3381 16.2425 15.3381 15.9794C15.3381 15.7163 15.1251 15.5031 14.8622 15.5031C14.5993 15.5031 14.3862 15.7163 14.3862 15.9794C14.3862 16.2425 14.5993 16.4557 14.8622 16.4557Z"
        fill="#c89700"
      />
      <path
        d="M15.8517 15.7533C16.1146 15.7533 16.3277 15.5401 16.3277 15.277C16.3277 15.0139 16.1146 14.8007 15.8517 14.8007C15.5889 14.8007 15.3757 15.0139 15.3757 15.277C15.3757 15.5401 15.5889 15.7533 15.8517 15.7533Z"
        fill="#c89700"
      />
    </g>
  </svg>
</template>
