<script setup lang="ts"></script>

<template>
  <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M26.1 3.87375C25.1837 2.9575 24.0812 2.5 22.7913 2.5H7.1825C5.8925 2.5 4.79 2.9575 3.87375 3.87375C2.9575 4.79 2.5 5.8925 2.5 7.1825V22.7913C2.5 24.0812 2.9575 25.1837 3.87375 26.1C4.79 27.0162 5.8925 27.4738 7.1825 27.4738H10.825C11.0625 27.4738 11.2413 27.465 11.3612 27.4487C11.5009 27.4208 11.6269 27.3463 11.7188 27.2375C11.8375 27.1125 11.8975 26.9312 11.8975 26.6937L11.8888 25.5875C11.8837 24.8825 11.8813 24.325 11.8813 23.9125L11.5063 23.9775C11.2688 24.0212 10.9688 24.04 10.605 24.035C10.2259 24.028 9.84793 23.99 9.475 23.9212C9.078 23.8479 8.70428 23.6808 8.385 23.4338C8.05062 23.1808 7.80122 22.832 7.67 22.4338L7.5075 22.0588C7.37054 21.7629 7.19846 21.4847 6.995 21.23C6.7625 20.9263 6.52625 20.7213 6.2875 20.6125L6.175 20.5312C6.09655 20.4751 6.0252 20.4096 5.9625 20.3363C5.90261 20.2682 5.85331 20.1915 5.81625 20.1087C5.78375 20.0325 5.81125 19.97 5.8975 19.9212C5.985 19.8713 6.14125 19.8475 6.37 19.8475L6.695 19.8975C6.91125 19.94 7.18 20.07 7.49875 20.2863C7.82133 20.5062 8.09079 20.7953 8.2875 21.1325C8.5375 21.5763 8.8375 21.915 9.19 22.1488C9.5425 22.3813 9.8975 22.4987 10.255 22.4987C10.6125 22.4987 10.9213 22.4713 11.1825 22.4175C11.4351 22.3653 11.6806 22.283 11.9137 22.1725C12.0113 21.4475 12.2762 20.8875 12.71 20.4975C12.148 20.4424 11.5909 20.3446 11.0437 20.205C10.5097 20.0583 9.99617 19.8454 9.515 19.5712C9.01156 19.2972 8.56688 18.9268 8.20625 18.4812C7.86 18.0475 7.575 17.4788 7.3525 16.775C7.13125 16.07 7.02 15.2563 7.02 14.335C7.02 13.0238 7.4475 11.9075 8.30375 10.985C7.90375 10 7.94125 8.89375 8.4175 7.67C8.7325 7.57125 9.19875 7.645 9.81625 7.88875C10.4338 8.1325 10.8863 8.34125 11.1737 8.51375C11.4613 8.68875 11.6912 8.835 11.865 8.95375C12.8812 8.67094 13.9314 8.52878 14.9862 8.53125C16.06 8.53125 17.1 8.6725 18.1088 8.95375L18.7262 8.56375C19.2012 8.27857 19.7022 8.03916 20.2225 7.84875C20.7975 7.63125 21.235 7.5725 21.54 7.67C22.0275 8.895 22.07 10 21.6688 10.9862C22.525 11.9075 22.9538 13.0238 22.9538 14.3363C22.9538 15.2575 22.8425 16.0737 22.62 16.7825C22.3988 17.4925 22.1112 18.0612 21.7587 18.49C21.4062 18.9187 20.9675 19.2775 20.4425 19.5712C19.9175 19.8637 19.4075 20.075 18.9137 20.205C18.3666 20.3451 17.8096 20.4433 17.2475 20.4988C17.81 20.9862 18.0925 21.755 18.0925 22.8063V26.6937C18.0925 26.8775 18.1187 27.0262 18.1737 27.14C18.199 27.1948 18.2351 27.244 18.2797 27.2845C18.3244 27.3251 18.3768 27.3563 18.4338 27.3762C18.5537 27.4187 18.6588 27.4463 18.7513 27.4562C18.8438 27.4688 18.9762 27.4725 19.1488 27.4725H22.7913C24.0812 27.4725 25.1837 27.015 26.1 26.0987C27.015 25.1838 27.4738 24.08 27.4738 22.79V7.1825C27.4738 5.8925 27.0162 4.79 26.1 3.87375Z"
      fill="currentColor"
    />
  </svg>
</template>
