<script setup lang="ts">
import tailwindConfig from '../../../tailwind.config.js'

const fallParam = tailwindConfig.theme.extend.colors['param']
</script>

<template>
  <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect x="4" y="4" width="40" height="40" rx="20" :fill="fallParam" />
    <path
      d="M21.25 34L20.85 30.8C20.6333 30.7167 20.4291 30.6167 20.2375 30.5C20.0458 30.3833 19.8583 30.2583 19.675 30.125L16.7 31.375L13.95 26.625L16.525 24.675C16.5083 24.5583 16.5 24.4458 16.5 24.3375V23.6625C16.5 23.5542 16.5083 23.4417 16.525 23.325L13.95 21.375L16.7 16.625L19.675 17.875C19.8583 17.7417 20.05 17.6167 20.25 17.5C20.45 17.3833 20.65 17.2833 20.85 17.2L21.25 14H26.75L27.15 17.2C27.3666 17.2833 27.5708 17.3833 27.7625 17.5C27.9541 17.6167 28.1416 17.7417 28.325 17.875L31.3 16.625L34.05 21.375L31.475 23.325C31.4916 23.4417 31.5 23.5542 31.5 23.6625V24.3375C31.5 24.4458 31.4833 24.5583 31.45 24.675L34.025 26.625L31.275 31.375L28.325 30.125C28.1416 30.2583 27.95 30.3833 27.75 30.5C27.55 30.6167 27.35 30.7167 27.15 30.8L26.75 34H21.25ZM23 32H24.975L25.325 29.35C25.8416 29.2167 26.3208 29.0208 26.7625 28.7625C27.2041 28.5042 27.6083 28.1917 27.975 27.825L30.45 28.85L31.425 27.15L29.275 25.525C29.3583 25.2917 29.4166 25.0458 29.45 24.7875C29.4833 24.5292 29.5 24.2667 29.5 24C29.5 23.7333 29.4833 23.4708 29.45 23.2125C29.4166 22.9542 29.3583 22.7083 29.275 22.475L31.425 20.85L30.45 19.15L27.975 20.2C27.6083 19.8167 27.2041 19.4958 26.7625 19.2375C26.3208 18.9792 25.8416 18.7833 25.325 18.65L25 16H23.025L22.675 18.65C22.1583 18.7833 21.6791 18.9792 21.2375 19.2375C20.7958 19.4958 20.3916 19.8083 20.025 20.175L17.55 19.15L16.575 20.85L18.725 22.45C18.6416 22.7 18.5833 22.95 18.55 23.2C18.5166 23.45 18.5 23.7167 18.5 24C18.5 24.2667 18.5166 24.525 18.55 24.775C18.5833 25.025 18.6416 25.275 18.725 25.525L16.575 27.15L17.55 28.85L20.025 27.8C20.3916 28.1833 20.7958 28.5042 21.2375 28.7625C21.6791 29.0208 22.1583 29.2167 22.675 29.35L23 32ZM24.05 27.5C25.0166 27.5 25.8416 27.1583 26.525 26.475C27.2083 25.7917 27.55 24.9667 27.55 24C27.55 23.0333 27.2083 22.2083 26.525 21.525C25.8416 20.8417 25.0166 20.5 24.05 20.5C23.0666 20.5 22.2375 20.8417 21.5625 21.525C20.8875 22.2083 20.55 23.0333 20.55 24C20.55 24.9667 20.8875 25.7917 21.5625 26.475C22.2375 27.1583 23.0666 27.5 24.05 27.5Z"
      fill="#050301"
    />
  </svg>
</template>
