<script setup lang="ts"></script>

<template>
  <svg width="30" height="33" viewBox="0 0 30 33" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M9.42654 25.9748C9.42654 26.9733 9.5775 26.996 9.22124 27.6931C8.86502 28.3902 8.68616 28.3603 7.87052 29.2562C7.05488 30.1521 6.60435 31.0238 5.42754 31.2385C4.25074 31.4532 2.49854 31.9625 2.49854 31.9625L3.41093 32.9151C3.41093 32.9151 4.92019 32.9633 6.27003 32.1485C7.61987 31.3337 8.15528 31.3313 8.57405 30.7812C8.99281 30.2311 9.60941 29.9718 10.2251 29.5017C10.8408 29.0316 10.989 29.0346 11.4005 28.9051C11.8121 28.7757 12.0884 28.969 12.447 28.3231C12.8055 27.6772 11.7668 27.1985 11.7668 27.1985C11.7668 27.1985 10.5585 27.1206 10.2981 26.8259C10.0377 26.5312 9.42654 25.9748 9.42654 25.9748Z"
        fill="#6d843f"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M13.045 19.6501C13.044 19.5195 13.044 19.3889 13.0443 19.2584C13.0442 19.1083 13.0443 18.9582 13.0438 18.8082C13.0433 18.6309 13.0443 18.4536 13.0439 18.2763C13.0382 18.101 13.0775 17.929 13.1004 17.7561C13.1151 17.5827 13.1374 17.4103 13.1562 17.2373C13.1642 17.0828 13.177 16.9306 13.2051 16.7783C13.2519 16.5824 13.3264 16.394 13.3905 16.2032C13.471 15.9443 13.5827 15.6989 13.7103 15.4603C13.8237 15.2397 13.9503 15.027 14.0871 14.8202C14.2707 14.5341 14.4534 14.2471 14.641 13.9635C14.8452 13.6407 15.0796 13.3389 15.3112 13.0357C15.5261 12.7559 15.7266 12.4656 15.9358 12.1817C16.1565 11.8864 16.3851 11.5972 16.6102 11.3053C16.8342 11.0106 17.0665 10.7228 17.2876 10.4259C17.51 10.1356 17.6988 9.82028 17.8769 9.50133C17.9883 9.27811 18.0943 9.05074 18.173 8.81371C18.2037 8.69779 18.2278 8.57972 18.2443 8.46089C18.2609 8.28635 18.2586 8.11068 18.2594 7.93554C18.2715 7.68994 18.2866 7.44457 18.2945 7.1988C18.2943 6.97657 18.3251 6.75662 18.3531 6.53675C18.3921 6.26073 18.3799 5.98333 18.3509 5.70731C18.3098 5.40706 18.2827 5.10551 18.2682 4.8029C18.2595 4.58452 18.2663 4.36583 18.2353 4.14903C18.1786 3.92676 17.9627 3.80562 17.7906 3.6763C17.7581 3.65211 17.7255 3.62827 17.6929 3.60427C18.0427 2.72171 17.5986 2.54565 17.2487 3.42821C17.2816 3.45202 17.3143 3.47595 17.3471 3.49983C17.4732 3.59489 17.7018 3.73326 17.7785 3.87076C17.7902 3.89155 17.7955 3.91551 17.8042 3.93785C17.8416 4.15286 17.8341 4.37107 17.8424 4.58847C17.8564 4.89219 17.8829 5.19495 17.9251 5.49616C17.9557 5.76844 17.9678 6.04158 17.9293 6.31406C17.9017 6.5355 17.8686 6.75686 17.8698 6.98066C17.8622 7.22671 17.8486 7.47239 17.8331 7.71805C17.8322 7.89096 17.833 8.06429 17.818 8.23666C17.8033 8.35315 17.7788 8.46832 17.7522 8.5825C17.6783 8.81815 17.5743 9.04345 17.4654 9.26464C17.2888 9.58216 17.1006 9.89522 16.8796 10.1841C16.6587 10.4807 16.4258 10.7678 16.2029 11.0629C15.9776 11.3552 15.7479 11.6441 15.5271 11.9397C15.3182 12.2235 15.1177 12.5135 14.9035 12.7934C14.6716 13.0977 14.4371 13.4007 14.2317 13.7239C14.0435 14.0071 13.8612 14.2945 13.6751 14.579C13.5369 14.7868 13.4096 15.0008 13.2961 15.2232C13.1678 15.4643 13.0544 15.7116 12.9718 15.9724C12.9063 16.165 12.8309 16.3553 12.7814 16.5526C12.7527 16.706 12.7352 16.8587 12.7304 17.0148C12.713 17.1876 12.6894 17.3597 12.6759 17.5329C12.6536 17.7077 12.6118 17.8814 12.6162 18.0585C12.616 18.2358 12.6168 18.4132 12.6164 18.5905C12.6158 18.7404 12.6159 18.8902 12.6158 19.0401C12.6159 19.1704 12.6161 19.3007 12.615 19.431C12.1797 20.2854 12.6097 20.5044 13.045 19.6501Z"
        fill="#9e530d"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M12.7359 19.3571C12.734 19.0966 12.7295 18.8361 12.7379 18.5757C12.7496 18.2161 12.8139 17.8632 12.9026 17.5155C12.9876 17.1876 13.0769 16.8609 13.1661 16.5343C13.2411 16.2302 13.3404 15.9334 13.4376 15.636C13.5257 15.3571 13.6312 15.0858 13.7506 14.819C13.9102 14.5014 14.0837 14.1905 14.2622 13.8831C14.4287 13.601 14.6138 13.3303 14.7954 13.0577C14.9588 12.8089 15.1269 12.5633 15.287 12.3124C15.4668 12.0535 15.6271 11.7815 15.8123 11.5265C15.9728 11.3077 16.1505 11.1026 16.3194 10.8904C16.4416 10.7373 16.58 10.5982 16.7058 10.4484C16.8169 10.3256 16.9271 10.2031 17.0264 10.0704C17.1671 9.86316 17.2867 9.64272 17.4022 9.42079C17.5351 9.14984 17.6353 8.86546 17.7285 8.57899C17.8113 8.33544 17.8704 8.08453 17.9157 7.83153C17.9493 7.61209 17.9531 7.38959 17.9562 7.16805C17.9581 6.95012 17.9567 6.73221 17.9564 6.51429C17.9557 6.30094 17.9562 6.08755 17.9563 5.87418C17.9564 5.69835 17.9565 5.52257 17.9565 5.34676C17.9648 5.2675 17.9087 5.07814 17.9582 5.01363C17.9684 5.0004 17.9835 4.99208 17.9963 4.98112C18.1345 4.90768 18.2947 4.90167 18.4478 4.89434C18.5963 4.88981 18.7449 4.89056 18.8936 4.89117C19.4544 4.11968 19.0661 3.83741 18.5053 4.60891C18.3562 4.60878 18.2071 4.60829 18.0581 4.61459C17.8959 4.62479 17.7261 4.63612 17.5867 4.72846C17.5704 4.74471 17.5515 4.7587 17.5383 4.77744C17.4692 4.87597 17.5364 5.02043 17.5293 5.12901C17.5293 5.30491 17.5293 5.48078 17.5295 5.65667C17.5298 5.87022 17.5305 6.08376 17.5305 6.29731C17.531 6.51501 17.5315 6.73269 17.5304 6.95037C17.5278 7.16958 17.5254 7.3897 17.4933 7.60703C17.4505 7.85845 17.3929 8.10784 17.3113 8.34967C17.2194 8.63382 17.1207 8.91588 16.9883 9.18422C16.8738 9.40362 16.7551 9.62168 16.6145 9.82566C16.5142 9.95643 16.4045 10.0785 16.2946 10.2013C16.1686 10.3514 16.0308 10.4914 15.9092 10.6453C15.7398 10.8578 15.5639 11.0653 15.4031 11.2845C15.2173 11.5403 15.0566 11.8132 14.8757 12.0724C14.7153 12.3228 14.548 12.5685 14.3854 12.8174C14.2027 13.0905 14.0177 13.3625 13.8511 13.6457C13.6724 13.9549 13.4985 14.2674 13.3361 14.5853C13.2155 14.8535 13.1085 15.1258 13.0201 15.4065C12.9236 15.705 12.8237 16.0024 12.7486 16.3073C12.6592 16.6343 12.57 16.9614 12.4857 17.2897C12.3952 17.6401 12.3296 17.9958 12.3147 18.3583C12.3056 18.6181 12.3101 18.8781 12.3064 19.1381C11.8712 19.9922 12.3008 20.2111 12.7359 19.3571Z"
        fill="#9e530d"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M12.7845 17.7409C12.6756 17.5313 12.6183 17.3033 12.5756 17.0726C12.5469 16.8681 12.5268 16.6607 12.5357 16.4541C12.55 16.2636 12.624 16.0896 12.6943 15.9147C12.7988 15.6485 12.9077 15.3839 13.0226 15.1219C13.1314 14.8517 13.2699 14.5959 13.4225 14.3482C13.5661 14.1086 13.7561 13.9041 13.9606 13.7159C14.1688 13.5301 14.3704 13.3375 14.5683 13.1407C14.7235 12.9842 14.8652 12.8172 14.9864 12.6331C15.0755 12.5109 15.1427 12.3748 15.2259 12.2489C15.2633 12.1925 15.3527 12.0697 15.3916 12.0159C15.5783 11.7742 15.7712 11.5377 15.9557 11.2942C16.0614 11.1383 16.19 10.9963 16.2814 10.8308C16.332 10.7392 16.3348 10.7173 16.3684 10.6191C16.4419 10.3721 16.5065 10.1231 16.5895 9.87894C16.6788 9.59865 16.7857 9.32457 16.8763 9.04469C16.9394 8.8263 17.0071 8.6096 17.0743 8.39249C17.1527 8.18413 17.2409 7.97953 17.3324 7.77664C17.4002 7.6103 17.4873 7.45364 17.5745 7.29702C17.6483 7.16099 17.7438 7.04125 17.8488 6.92847C17.8994 6.86342 17.9537 6.80144 18.0081 6.73953C18.5012 5.92245 18.09 5.67427 17.5968 6.49137C17.5432 6.55324 17.4899 6.61541 17.4385 6.67921C17.3314 6.79516 17.2337 6.91823 17.1582 7.05763C17.0706 7.21558 16.9834 7.37379 16.9157 7.54159C16.8236 7.74637 16.7345 7.95272 16.6549 8.16272C16.588 8.37986 16.5185 8.59585 16.4582 8.81501C16.3685 9.09496 16.2625 9.36902 16.1725 9.64886C16.0882 9.89257 16.022 10.141 15.9495 10.3882C15.9185 10.4822 15.9162 10.5027 15.8683 10.5906C15.7787 10.7553 15.652 10.8969 15.5471 11.0514C15.3616 11.2946 15.1678 11.531 14.9815 11.7735C14.9516 11.8148 14.8418 11.9654 14.8129 12.0087C14.7293 12.1338 14.6623 12.2696 14.5733 12.3913C14.4534 12.5721 14.3139 12.7369 14.1614 12.8912C13.9641 13.0876 13.7632 13.2799 13.5556 13.4654C13.3479 13.6567 13.1563 13.8653 13.0105 14.1088C12.8573 14.3587 12.7167 14.6159 12.6075 14.8883C12.4921 15.1505 12.3833 15.4156 12.2776 15.6818C12.2042 15.8611 12.1259 16.0385 12.1088 16.234C12.0979 16.4441 12.1202 16.6552 12.1462 16.8635C12.1874 17.0958 12.2404 17.3272 12.3458 17.5399C11.9465 18.4114 12.3852 18.6124 12.7845 17.7409Z"
        fill="#9e530d"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M14.4424 12.7661C14.4182 12.5102 14.4121 12.253 14.4061 11.9962C14.403 11.8438 14.4019 11.6913 14.4019 11.5388C14.4027 11.4451 14.3959 11.349 14.3656 11.2597C14.2361 11.0144 13.9124 10.9812 13.6712 10.9214C13.5684 10.8957 13.4636 10.8796 13.3579 10.873C13.2976 10.8706 13.2373 10.8706 13.177 10.8706C12.6138 11.6449 13.0035 11.9283 13.5667 11.154C13.6265 11.1546 13.6863 11.1549 13.7459 11.1597C13.8496 11.1695 13.9522 11.1873 14.0531 11.2135C14.0987 11.2249 14.1399 11.2354 14.1857 11.246C14.2042 11.2502 14.2231 11.2532 14.2416 11.2581C14.2564 11.2619 14.2973 11.2804 14.2846 11.2721C13.8545 10.9926 13.8048 10.943 13.9267 11.0588C13.9711 11.1358 13.9698 11.2342 13.9732 11.3206C13.9737 11.4739 13.9749 11.6272 13.9797 11.7804C13.9868 12.0377 13.9948 12.295 14.0106 12.5519C13.5848 13.4092 14.0166 13.6234 14.4424 12.7661Z"
        fill="#9e530d"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M14.9099 11.9079C14.908 11.6477 14.9043 11.3876 14.9116 11.1276C14.9192 10.806 14.9498 10.4857 14.9719 10.1649C15.0085 9.84021 15.0517 9.51617 15.0962 9.19241C15.1397 8.94587 15.1804 8.69797 15.2479 8.45665C15.3016 8.26283 15.3743 8.07529 15.4378 7.88458C15.484 7.76443 15.5056 7.62326 15.5843 7.51872C15.5911 7.52326 15.5975 7.52742 15.6044 7.53195C16.1587 6.74878 15.7646 6.46976 15.2102 7.25295C15.1966 7.25975 15.183 7.26693 15.1694 7.27374C15.0922 7.38622 15.0614 7.5256 15.0174 7.65318C14.9541 7.8448 14.883 8.03376 14.8283 8.22808C14.7585 8.47121 14.7189 8.72176 14.6751 8.97066C14.6309 9.29544 14.5894 9.62059 14.5487 9.94583C14.528 10.2674 14.4973 10.5883 14.489 10.9106C14.4803 11.17 14.4834 11.4295 14.4803 11.6891C14.0454 12.5426 14.4751 12.7615 14.9099 11.9079Z"
        fill="#9e530d"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M15.686 11.6965C15.7409 11.3802 15.8155 11.0673 15.8781 10.7523C15.9718 10.2884 16.0365 9.81934 16.094 9.34972C16.1349 9.02003 16.1539 8.68848 16.162 8.35656C16.1737 8.08349 16.1563 7.81127 16.1272 7.53995C16.1125 7.29866 16.045 7.06621 15.9688 6.83819C15.8751 6.56894 15.7199 6.36116 15.5446 6.14133C15.4685 6.0518 15.3984 5.9575 15.3237 5.86686C15.322 5.8648 15.2672 5.79709 15.2526 5.78923C15.1065 5.71122 14.9572 5.63952 14.8096 5.56469C14.7388 5.65982 14.8145 5.74784 14.8867 5.81308C15.1233 5.97862 15.2434 6.05969 15.4716 6.11C16.0528 5.35061 15.6706 5.05813 15.0894 5.81754C14.9217 5.76901 14.6813 5.63053 15.3342 5.99106C15.3047 5.97292 15.188 5.88833 15.2051 5.84267C15.0714 5.76561 14.9375 5.68892 14.804 5.61148C14.7931 5.60506 14.8282 5.6213 14.8377 5.62962C14.944 5.72086 15.0059 5.85791 15.1067 5.95429C15.279 6.16858 15.4411 6.37281 15.536 6.63542C15.615 6.85935 15.6823 7.08991 15.6993 7.32782C15.7296 7.59734 15.7498 7.86756 15.7374 8.13908C15.7306 8.4702 15.7147 8.80118 15.6758 9.13031C15.6201 9.59898 15.5562 10.0671 15.4618 10.5298C15.3978 10.8445 15.3238 11.1571 15.259 11.4716C14.8122 12.3197 15.2391 12.5446 15.686 11.6965Z"
        fill="#9e530d"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M16.361 9.3431C16.3546 9.00974 16.3575 8.67658 16.3693 8.34339C16.3822 8.03104 16.3935 7.71863 16.4003 7.40609C16.4035 7.2204 16.4044 7.03464 16.4048 6.84893C16.3995 6.70001 16.4034 6.55454 16.4385 6.40947C16.4799 6.27159 16.5094 6.12846 16.5669 5.99605C16.6177 5.90587 16.7056 5.85274 16.7881 5.79525C17.3015 4.98824 16.8954 4.72984 16.382 5.53684C16.2934 5.60083 16.2009 5.66123 16.1473 5.7601C16.0885 5.89491 16.0592 6.04084 16.0161 6.18109C15.9779 6.32947 15.9693 6.47782 15.977 6.63087C15.9772 6.81667 15.9775 7.00251 15.975 7.18833C15.9705 7.50135 15.9614 7.81431 15.949 8.12713C15.9372 8.4595 15.9327 8.7918 15.9323 9.12439C15.4977 9.97734 15.9264 10.1961 16.361 9.3431Z"
        fill="#9e530d"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M16.4765 6.98436C16.4829 6.6789 16.4084 6.37963 16.3409 6.08392C16.2685 5.77112 16.1852 5.46017 16.0514 5.16759C16.0185 5.10648 16.0159 5.0917 15.9679 5.04211C15.822 4.89146 15.3942 4.68158 15.3065 4.63148C15.2077 4.58004 15.1013 4.55037 14.9908 4.53926C14.8913 4.50902 14.79 4.48521 14.6891 4.45883C14.5782 4.4301 14.4638 4.41832 14.3497 4.4111C14.303 4.41677 14.2499 4.39673 14.2035 4.40694C14.1744 4.41336 14.1477 4.42811 14.1194 4.43755C14.0124 4.47682 13.8718 4.46514 13.7711 4.5193C13.7477 4.53178 13.7297 4.55332 13.709 4.57025C13.7 4.59557 13.6913 4.62116 13.6822 4.64663C13.2236 5.48494 13.6455 5.71573 14.1041 4.87741C14.1079 4.8604 14.1117 4.84377 14.1154 4.82669C14.1328 4.8146 14.1479 4.79873 14.1673 4.79003C14.2764 4.74116 14.4065 4.75167 14.5178 4.70877C14.5905 4.68723 14.6621 4.68987 14.7375 4.69705C14.85 4.70612 14.9622 4.72124 15.0713 4.75121C15.1736 4.77616 15.2737 4.80945 15.3772 4.82763C15.484 4.84502 15.5858 4.87995 15.6805 4.93275C14.8913 4.47353 15.4883 4.7951 15.5755 4.90289C15.5917 4.92292 15.6019 4.94692 15.6149 4.96896C15.7574 5.25696 15.8431 5.5669 15.9155 5.87906C15.9829 6.16951 16.0575 6.46464 16.0463 6.76505C15.6109 7.61964 16.0411 7.83896 16.4765 6.98436Z"
        fill="#9e530d"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M16.9635 8.21872C16.9461 8.03843 16.9336 7.85789 16.9261 7.67694C16.9174 7.4253 16.9174 7.17346 16.917 6.92169C16.9167 6.69439 16.9171 6.46712 16.9182 6.23984C16.8857 6.22963 16.9656 5.98691 16.9526 6.08461C16.4622 5.7742 16.5008 5.74982 16.6184 5.98933C16.643 6.04462 16.6596 6.10143 16.6975 6.14924C16.743 6.1859 16.7827 6.22906 16.8316 6.26119C17.019 6.38678 17.1979 6.55082 17.4222 6.599C17.5135 6.61488 17.6066 6.60808 17.6984 6.61715C17.8471 6.68068 18.0932 6.81716 17.3548 6.41679C17.3496 6.41383 17.362 6.42776 17.362 6.43381C17.3623 6.45006 17.3465 6.48898 17.3424 6.50108C17.3027 6.57021 17.2308 6.60415 17.1529 6.60264C17.0052 6.53374 16.7829 6.39567 17.4756 6.78693C17.8334 5.8974 17.3857 5.71734 17.028 6.60687C17.1468 6.67785 17.3525 6.87884 17.5459 6.88254C17.6386 6.86478 17.7177 6.82071 17.7641 6.73511C17.7694 6.72112 17.815 6.62172 17.7981 6.60936C17.6269 6.48324 17.5024 6.35209 17.3103 6.3307C17.2202 6.32654 17.128 6.32929 17.0406 6.30348C16.8715 6.23228 17.0026 6.28572 17.393 6.51363C17.457 6.55105 17.2161 6.40923 17.2819 6.43622C17.2322 6.40523 17.1874 6.37216 17.1448 6.33183C17.092 6.29895 17.0782 6.24471 17.0577 6.18878C16.9381 5.93313 16.9934 6.02766 16.5712 5.7865C16.4914 5.83832 16.492 5.93447 16.491 6.02189C16.4917 6.24957 16.4917 6.47726 16.492 6.70495C16.4922 6.957 16.4922 7.20913 16.4991 7.4611C16.5056 7.64082 16.5158 7.82034 16.5335 7.99935C16.098 8.85407 16.528 9.07344 16.9635 8.21872Z"
        fill="#9e530d"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M17.8723 7.96292C17.94 8.03016 17.9944 8.109 18.0452 8.18931C18.0885 8.26018 18.1503 8.3163 18.2017 8.38093C18.2085 8.39114 18.2153 8.40096 18.2225 8.41117C17.8352 9.2882 18.2766 9.48311 18.6639 8.60608C18.6575 8.59474 18.651 8.5834 18.6446 8.57206C18.5974 8.50376 18.5371 8.44873 18.4867 8.38361C18.4348 8.30205 18.3836 8.21951 18.3184 8.14751C18.6852 7.26133 18.2391 7.07674 17.8723 7.96292Z"
        fill="#9e530d"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M6.63702 3.60444e-05C6.80181 1.50764 6.93307 1.40047 6.8893 1.61032C6.84554 1.82016 6.5406 1.69827 6.12378 2.16934C5.70696 2.6404 5.01683 3.0985 4.37215 3.73658C3.72747 4.37466 4.28246 4.34269 3.51809 5.10514C2.7537 5.86759 2.31057 6.19915 2.00352 6.74144C1.69647 7.28373 1.24029 7.93418 1.10898 8.70284C0.977682 9.47151 0.668817 10.5013 0.463384 10.9976C0.257929 11.4939 4.1083e-05 12.0672 4.1083e-05 12.7336C4.1083e-05 13.4 4.1083e-05 13.6949 4.1083e-05 14.2526C4.1083e-05 14.8104 -0.0101614 15.0607 0.290991 15.6208C0.592031 16.1809 1.1278 16.3692 1.63248 16.6295C2.13715 16.8898 2.73733 17.3917 3.43676 17.6011C4.13618 17.8105 5.46779 18.5586 5.82245 19.0926C6.17712 19.6266 6.7617 20.6654 7.36841 21.1182C7.97512 21.571 8.76695 22.2324 9.01233 22.7816C9.25774 23.3308 9.81206 23.7773 9.81206 24.1125C9.81206 24.4477 9.09221 25.6199 9.09221 25.6199L9.54389 26.3152C9.54389 26.3152 8.78259 25.7457 9.5841 26.3943C10.3856 27.0428 10.9146 27.4197 11.4775 27.4197C12.0405 27.4197 12.6166 28.0765 12.796 27.95C12.9753 27.8235 12.8846 28.6354 12.9753 27.8046C13.0661 26.9738 12.9042 26.2345 13.3164 25.656C13.7287 25.0776 13.9153 24.6948 14.5165 24.3033C15.1178 23.9119 16.3147 22.6278 17.1376 22.4349C17.9605 22.242 18.5933 21.3655 19.0151 20.891C19.4369 20.4164 20.6998 19.0227 21.3036 18.2222C21.9073 17.4217 22.8117 16.0926 23.3874 15.3602C23.9631 14.6278 24.8263 13.5486 25.5447 12.5313C26.2631 11.514 26.6654 10.6571 27.2699 10.1294C27.8745 9.60166 28.0677 8.97913 28.4819 8.49185C28.8962 8.00457 29.2131 7.32845 29.3006 7.03154C29.3881 6.73462 30.2203 6.08836 29.944 5.54999C29.6678 5.01162 29.2247 5.7104 29.2247 5.7104C29.2247 5.7104 30.13 6.10865 29.2247 5.69377C28.3193 5.27891 28.5911 5.18488 27.3834 5.15156C26.1758 5.1183 25.6399 5.12813 24.9081 5.43034C24.1763 5.73247 23.2569 5.95428 22.7572 6.43243C22.2575 6.91058 21.8627 7.46161 21.3994 7.76999C20.9362 8.07836 20.1442 8.35557 19.6317 9.04716C19.1192 9.73875 19.3097 9.20556 18.3553 10.1439C17.4008 11.0822 17.0154 11.3709 16.4045 11.8258C15.7935 12.2806 15.1067 13.3824 14.5922 14.2677C14.0778 15.1529 13.7851 15.5943 13.5688 16.2779C13.3526 16.9615 13.0942 16.6339 13.0509 17.7897C13.0077 18.9454 12.942 20.0424 12.942 20.0424L12.4493 19.4431C12.4493 19.4431 11.9737 19.2733 12.2628 18.8594C12.552 18.4454 12.4475 18.1781 12.3672 17.751C12.2869 17.3239 11.8255 16.6958 11.8255 16.0067C11.8255 15.3175 11.4916 15.1414 11.4916 14.6488C11.4916 14.1562 11.3604 14.1758 11.3263 13.0495C11.2923 11.9232 11.6939 11.5468 11.4128 11.0009C11.1317 10.4551 11.3186 9.96988 10.4178 9.09212C9.51694 8.21435 9.67984 8.08639 8.68286 7.2539C7.68588 6.42142 7.91249 5.99663 7.91249 5.99663C7.91249 5.99663 8.13764 4.29655 8.13764 3.77948C8.13764 3.26242 8.38708 3.06498 8.00633 2.32816C7.62557 1.59134 6.63702 3.60444e-05 6.63702 3.60444e-05Z"
        fill="#c89700"
      />
    </g>
  </svg>
</template>
