<script setup lang="ts"></script>

<template>
  <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="24" height="5" x="0" y="45" rx="2" ry="2" fill="currentColor" />
    <rect id="goal" width="24" height="5" x="25" y="0" rx="2" ry="2" stroke="currentColor" stroke-width="1.5" />
    <rect width="24" height="5" x="8" y="33" rx="2" ry="2" fill="currentColor" />
    <g id="job">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M10.567 32.1736C9.39001 32.1736 8.44238 33.283 8.44238 34.6612C8.44238 36.0394 9.39001 37.1493 10.567 37.1493H24.0678C24.049 37.0933 24.0302 37.0388 24.0116 36.9792C23.5665 35.5542 23.6563 36.1237 23.5377 34.2468C23.4924 33.5288 23.5268 32.5355 23.5383 32.2007C23.5498 31.8659 21.7734 32.155 21.7734 32.155C21.1703 32.5513 20.2501 32.9162 19.6331 33.0673C18.9509 33.2344 17.0791 33.2603 16.1177 33.0753C15.6695 32.989 14.7477 32.5116 13.8226 32.2598C12.8975 32.0081 10.567 32.1736 10.567 32.1736ZM28.1488 32.1736C28.0503 32.4698 28.0076 32.7811 27.9367 33.3426C27.783 34.5588 27.6126 36.662 27.6126 36.662C27.6126 36.662 27.5708 36.1305 27.6038 36.679C27.6141 36.8516 27.6419 37.0049 27.6811 37.1495H28.4825C29.6595 37.1495 30.6071 36.0397 30.6071 34.6615C30.6071 33.2832 29.6595 32.1738 28.4825 32.1738L28.1488 32.1736Z"
        fill="currentColor"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M17.6708 2.71248C15.3441 2.57278 14.2406 4.09908 13.6576 6.25492C13.4801 8.30495 15.3173 10.1851 17.6708 10.0009C19.9746 9.79346 22.0908 8.36946 21.8424 6.35689C21.842 6.21719 21.7916 5.88761 21.7157 5.78365C20.888 4.8138 20.1533 3.82024 19.3221 3.11341C18.7382 2.71157 18.3563 2.71248 17.6708 2.71248Z"
        fill="currentColor"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M11.8602 7.58533C10.8674 7.92892 9.11286 8.50054 9.14857 11.3824C9.18427 14.2643 9.56416 13.4613 9.69291 15.0453C9.83339 16.7736 9.55771 17.2655 9.29184 18.267C9.01073 19.3258 9.07029 19.0436 8.63626 19.5842C8.07104 20.2883 7.93696 21.4426 9.446 20.2806C10.9402 19.13 10.8918 19.8771 12.2569 17.3862C13.622 14.8952 13.3679 11.5281 12.8158 10.1125C12.2637 8.69681 11.8602 7.58533 11.8602 7.58533Z"
        fill="currentColor"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M26.9868 27.9152C27.7777 29.5147 27.4948 28.8335 27.8355 29.5657C28.2225 30.3973 28.6679 30.1453 28.3234 30.8098C27.998 31.4374 28.2874 30.7956 27.8158 31.8189C27.3612 32.8054 27.3504 32.8733 27.253 33.8901C27.1526 34.9388 27.0413 36.7523 27.0413 36.7523C27.0413 36.7523 27.0138 36.2942 27.0353 36.7668C27.0689 37.505 27.3725 37.8441 27.5633 38.7996C27.6404 39.1855 27.7055 39.3586 27.721 39.8036C27.7368 40.2579 27.7174 40.6673 27.2669 40.6611C27.1917 40.6601 26.9585 40.6951 26.1248 39.5889C25.2912 38.4826 24.979 38.2544 24.6881 37.0258C24.3973 35.7971 24.4561 36.288 24.3786 34.6697C24.3011 33.0515 24.454 31.5667 24.805 30.4138C25.156 29.2608 26.9868 27.9152 26.9868 27.9152Z"
        fill="currentColor"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M15.89 12.78C15.4754 13.5209 15.3003 14.1663 15.2203 14.95C15.1404 15.7337 15.1584 15.6024 15.2376 16.6338C15.3168 17.6652 15.4002 18.7348 15.3713 19.1183C15.3425 19.5019 15.4261 19.547 15.0582 20.8042C14.682 22.0899 13.9319 23.5928 13.3804 24.7237C13.0833 25.3329 12.8972 25.4367 12.7649 26.4089C12.6316 27.3891 12.603 27.9051 12.843 28.7232C13.083 29.5413 13.0996 29.4962 13.8609 30.5332C14.6222 31.5703 16.0774 31.9768 16.6497 32.0189C17.2219 32.0609 17.939 32.1324 18.4869 31.9913C19.0349 31.8501 19.7559 31.5335 20.4329 31.0107C21.1098 30.4879 23.6532 28.0584 24.6464 27.2117C25.6396 26.365 25.8998 26.1634 26.3413 25.7435C26.7828 25.3236 27.6471 24.5577 27.7963 24.6445C27.9455 24.7313 28.3108 25.2016 28.7367 26.2427C29.1627 27.2837 32.7603 34.8343 33.0259 35.3749C33.2915 35.9155 34.1031 37.3334 34.2144 37.5295C34.5028 38.0375 34.7628 38.4214 35.0506 38.7274C35.4835 39.1877 35.8623 39.3968 36.1418 39.5527C36.4927 39.7484 36.6578 39.8995 36.9583 39.7384C37.2351 39.59 37.1517 39.4858 37.0909 39.0568C37.0301 38.6278 36.2889 36.5976 36.0441 35.6408C35.7993 34.684 34.8786 31.6838 34.603 30.7947C34.3274 29.9055 33.309 24.7498 32.786 23.6249C32.263 22.5 32.1609 22.2144 31.3021 21.6074C30.4434 21.0005 29.7312 20.6927 29.0219 20.6927C28.3126 20.6927 27.3405 20.8407 26.6071 21.1247C25.8738 21.4088 24.1393 21.9785 23.3578 22.4591C22.5763 22.9398 22.3131 23.161 21.4364 23.7017C20.7491 24.1254 20.2581 24.5523 20.0104 24.6986C19.6596 24.9057 18.9905 25.6359 18.9311 25.2265C18.8673 24.7858 18.8685 24.541 18.9139 24.1114C18.9889 23.4025 20.9324 20.7254 21.2671 20.348C21.6017 19.9706 22.3392 18.9795 22.3166 18.6946C22.2941 18.4097 21.7632 18.2502 20.8226 17.8605C19.8819 17.4709 19.0791 17.1616 18.6615 16.9423C18.3433 16.7751 18.0938 16.6183 17.8993 16.432C17.2568 15.8167 17.3498 15.6925 17.264 15.4041C17.2618 15.1156 17.1921 13.6751 17.5865 13.8972C17.9808 14.1193 18.8167 14.6944 20.1521 15.2576C21.4876 15.8209 24.1654 16.9392 25.4562 17.394C26.7471 17.8488 29.3146 18.6511 29.834 18.867C30.3534 19.0829 31.2195 19.2885 31.7346 19.6028C32.2498 19.9171 33.2574 20.3654 33.6934 20.7426C34.1295 21.1197 34.6611 21.3377 34.9454 21.7711C35.2297 22.2046 35.5866 22.8966 35.6983 23.2858C35.8504 23.8156 35.9196 24.1655 36.2702 24.5521C36.498 24.8032 36.9739 25.1278 37.2184 25.0091C37.4613 24.8913 37.7462 24.689 37.8641 24.1495C37.9563 23.7277 38.0396 22.886 37.9383 22.2947C37.8451 21.7506 37.2134 20.375 36.8437 19.9715C36.6028 19.7086 35.9733 18.9597 35.495 18.6346C35.0167 18.3096 33.6182 17.5957 33.2272 17.4238C32.8362 17.2518 22.6939 12.4943 22.414 12.3751C22.1329 12.2553 20.9195 11.6728 20.4551 11.4927C19.9948 11.3142 19.1232 11.1237 18.3489 11.301C17.5746 11.4782 16.5981 11.9247 15.89 12.78Z"
        fill="currentColor"
      />
    </g>
  </svg>
</template>
